.about-me {
  h1{
    &:hover{
      color:$peakyRed;
    }
  }
  img{
      transition: transform 1s;
      &:hover {
         transform: scale(1.3);
      }
  }
  .about-content-container{
    background-color: $elegantBlack;
    border: 5px solid $peakyRed;
    padding: 25px;
    font-size: 1.3em;
    transition: transform 1s;
    z-index: 1;
    &:hover {
       transform: scale(1.1);
    }
  }

}
