* {
  font-family: 'Roboto Slab', serif;
  color: $peakydirtyWhite;
}
._container {
  width: 85vw;
  margin: auto;
}

.body_style {
  background-color: $elegantBlack;
}

[background = "card-color"] {
  background-color:  $darkBlack;
}
